<a href="https://colab.research.google.com/github/thousandoaks/Python4DS-I/blob/main/notebooks/Quick_Primer_on_Colab_Jupyter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quick Primer

This notebook is supposed to a quick primer on what colab/jupyter notebooks are.

This notebook gives you short examples to do simple introductions to data processing.

Don't worry if you don't understand what the code is doing, this is just an introduction.

### Don't forget to click play in the code cell to run the code

In [ ]:
print("Welcome to this Jupyter Notebook")

let's start to import the two libraries that we will be using throghout, pandas and numpy.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arr = np.arange(10000)

Let's look at the first 10 entries in the array:

In [ ]:
arr[:10]

And the length

In [ ]:
print(len(arr))

Let's explore the difference in time with a list vs a numpy array



### Pandas Series

Let's move to talking about python pandas. The biggest difference between pandas and numpy is that pandas are designed to work with tabular data, think more of a spreadsheet or a database.

Pandas defines two majore data structures, *Series* and *DataFrame*. A *Series* is a one-dimensional array-like object containing a sequence of values. An example can be:

In [ ]:
pd.Series(['a', 'b', 'c', 'd', 'e'])

Series can also have indexes or labels attached to each value (where they are then almost similar to a dict)

In [ ]:
ser = pd.Series(['a', 'b', 'c', 'd', 'e'], index=['foo', 'bar', 'more', 'note', 'extra'])

In [ ]:
ser

In [ ]:
ser2 = pd.Series({
    'stuff': 134,
    'more': 11,
    'notes': 'extra stuff'
})

In [ ]:
ser2

In [ ]:
ser2.notes

#### Pandas DataFrame

A DataFrame, which is the object you may work with the most is a rectangular table of data and contains an ordered collection of columns. You can think off it as a dict of Series, all sharing the same index.

In [ ]:
lines = [
    {'Customer': 'D. Lopez', 'Value': 1345, 'Notes': 'Stuff IS Stuff'},
    {'Customer': 'R. Feinmann', 'Value': 23, 'Notes': 'This does not contain any word...'},
    {'Customer': 'John Doe', 'Value': 523, 'Notes': 'We have a lot of text in here, including stuff'},
    {'Customer': 'R. Strauss', 'Value': 100, 'Notes': 'Here is a word that sounds like stuff but is in fact soooo much longer'},
]

df = pd.DataFrame(lines)

In [ ]:
df

We can start by looking at the shape of the dataframe:

In [ ]:
df.shape

This tells us that it contains four rows and each row has three columns. Let's look at the first two rows:

In [ ]:
df.head(2)

Or the last 2:

In [ ]:
df.tail(2)

We can also create fancy visualizations

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(df, x="Customer", y="Value")